*{
    margin: 0;
    padding: 0;
}
.section-cards{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 20px;
}
.container-card{
    text-align: center;
}
.card-img{
    height: 200px;
    width: 250px;
}

.section-cards-h2{
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .section-cards{
        height: auto;
    }
    .card{
        height: max-content;
    }
}
@media (max-width: 1110px) {
    .section-cards{
        height: auto;
    }
    
}