*{
    margin:0;
    padding: 0;
}
nav{
    background-color: gray;
    height: 80px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}
.span_nombre{
    margin-left: 100px;
}
li{
    height: 100%;
    line-height:80px;
    padding: 0 20px;
    transition: .3s;
}
/* .div_ul{
    position: absolute;
    height: 900px;
} */
ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    max-width: 992px;
    margin: 0 auto;
}
.hamburger{
    transform:scale(.8);
    line-height: 40px;
    display: none;
    margin: 20px;
    /* position: relative; */
}
a{
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
    display: flex;
    height: 100%;
    text-transform: uppercase;
    width: max-content;
}
.nombre{
    color: rgb(5, 100, 5);
    font-weight: bold;
    font-size: 26px;
    font-family: sans-serif;
}
.enlace{
    color: #fff;
    padding: 0 10px;  
}
.enlace:hover{
    background-color: rgba(191, 187, 187, 0.588);
    color: rgb(78, 78, 241);
}




@media screen and (max-width: 768px) {
    nav{
        height: 60px; 
    }

    ul{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin: 0 auto;
        background-color: #384756c4;
        width: max-content;
        position:fixed;
        width: 100%;
        top: 60px;
        transform: translate(-100%);
        transition: .3s;
        height: 100vh;
    }
    li{
        transition: .3s;
        padding: 0;
        line-height: 18px;
        height: auto;
        width: 100%;
        padding: 15px 0;
    }
    .hamburger{
        padding:0;
        margin: 0 20px;
        display: flex;
        align-items: center;
    }
    a{
        font-size: 18px;
        transition: .3s;
        text-transform: uppercase;
        width: max-content;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    .span_nombre{
        margin-left: 30px;
    }
    .nombre{
        color: rgb(5, 100, 5);
        font-weight: bold;
        font-size: 22px;
        font-family: sans-serif;
    }
    .enlace{
        font-size: 18px;
        padding: 0;
        height: 18px;
        color:white;
        text-align: center;
    }
    .enlace:hover{
        background-color: transparent;
        color: white;
    }
    li:hover{
        background-color: gray; 
        color: rgb(255, 255, 255);
    }
    .show{
        transform: translate(0);
        overflow-y: hidden;
        height: 100vh;
    }
}

@media screen and (max-width: 550px) {


}