.section-cards-promociones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    gap: 40px;
}
.card-promociones{
    width: 450px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container-img-promociones{
    width: 400px;
    height: 229px;
    margin: 0 auto;
}
.img-promociones{
    width: 100%;
}
.text-card-promociones p{
    text-align: center;
    font-size: 24px;
}
@media (max-width: 978px) {
    .section-cards-promociones{
        height: auto;
    }
    .card-promociones{
        height: 300px;
    }
}